In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv("C:/Users/Kimchiyeon/Desktop/khuda/a\새 폴더/fi.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6258 entries, 0 to 6257
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RESPOND_ID                6258 non-null   object
 1   EXAMIN_BEGIN_DE           6257 non-null   object
 2   SEXDSTN_FLAG_CD           6257 non-null   object
 3   AGRDE_FLAG_NM             6257 non-null   object
 4   ANSWRR_OC_AREA_NM         6257 non-null   object
 5   HSHLD_INCOME_DGREE_NM     6257 non-null   object
 6   SU_TOUR_INTRST_VALUE      6257 non-null   object
 7   GG_IC_TOUR_INTRST_VALUE   6257 non-null   object
 8   BS_TOUR_INTRST_VALUE      6257 non-null   object
 9   CHN_DJ_TOUR_INTRST_VALUE  6257 non-null   object
 10  CB_TOUR_INTRST_VALUE      6257 non-null   object
 11  GN_US_TOUR_INTRST_VALUE   6257 non-null   object
 12  GB_DG_TOUR_INTRST_VALUE   6257 non-null   object
 13  JN_GJ_TOUR_INTRST_VALUE   6257 non-null   object
 14  JNBK_TOUR_INTRST_VALUE    6257 non-null   object
 15  GW_TOUR_INTRST_VALUE      6257 non-null   object
 16  JJ_TOUR_INTRST_VALUE      6257 non-null   object
dtypes: object(17)
memory usage: 831.3+ KB

In [8]:
idx = df[df['HSHLD_INCOME_DGREE_NM']=='모름'].index
df.drop(idx, inplace=True)

In [9]:
encoding_columns = ['SEXDSTN_FLAG_CD', 'AGRDE_FLAG_NM','ANSWRR_OC_AREA_NM', 'HSHLD_INCOME_DGREE_NM',
                    'HSHLD_INCOME_DGREE_NM', 'SU_TOUR_INTRST_VALUE',
                    'GG_IC_TOUR_INTRST_VALUE','BS_TOUR_INTRST_VALUE','CHN_DJ_TOUR_INTRST_VALUE','CB_TOUR_INTRST_VALUE','GN_US_TOUR_INTRST_VALUE','GB_DG_TOUR_INTRST_VALUE','JN_GJ_TOUR_INTRST_VALUE','JNBK_TOUR_INTRST_VALUE','GW_TOUR_INTRST_VALUE','JJ_TOUR_INTRST_VALUE'

                   ]
not_encoding_columns = ['RESPOND_ID', 'EXAMIN_BEGIN_DE']

In [10]:
enc_classes = {}

def encoding_label(x):
    le = LabelEncoder()
    le.fit(x)
    label = le.transform(x)
    
    enc_classes[x.name] = le.classes_
    
    return label

In [11]:
d1 = df[encoding_columns].apply(encoding_label) 
d2 = df[not_encoding_columns]
d2 = d2.drop(labels='RESPOND_ID', axis=1)
data = d2.join(d1)
data.head()

,EXAMIN_BEGIN_DE,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,HSHLD_INCOME_DGREE_NM,SU_TOUR_INTRST_VALUE,GG_IC_TOUR_INTRST_VALUE,BS_TOUR_INTRST_VALUE,CHN_DJ_TOUR_INTRST_VALUE,CB_TOUR_INTRST_VALUE,GN_US_TOUR_INTRST_VALUE,GB_DG_TOUR_INTRST_VALUE,JN_GJ_TOUR_INTRST_VALUE,JNBK_TOUR_INTRST_VALUE,GW_TOUR_INTRST_VALUE,JJ_TOUR_INTRST_VALUE
0,20221031,0,3,9,2,2,5,4,4,2,5,4,2,2,2,4,2
1,20221031,0,3,9,2,2,5,5,5,5,5,5,5,3,5,5,4
2,20221031,0,3,9,3,3,5,5,5,5,5,5,5,5,5,5,2
3,20221031,0,3,9,3,3,5,5,5,5,5,5,5,5,5,5,5
4,20221031,0,3,9,2,2,5,5,1,1,4,5,4,3,5,2,2

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5850 entries, 0 to 6257
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EXAMIN_BEGIN_DE           5849 non-null   object
 1   SEXDSTN_FLAG_CD           5850 non-null   int32
 2   AGRDE_FLAG_NM             5850 non-null   int32
 3   ANSWRR_OC_AREA_NM         5850 non-null   int32
 4   HSHLD_INCOME_DGREE_NM     5850 non-null   int32
 5   HSHLD_INCOME_DGREE_NM     5850 non-null   int32
 6   SU_TOUR_INTRST_VALUE      5850 non-null   int32
 7   GG_IC_TOUR_INTRST_VALUE   5850 non-null   int32
 8   BS_TOUR_INTRST_VALUE      5850 non-null   int32
 9   CHN_DJ_TOUR_INTRST_VALUE  5850 non-null   int32
 10  CB_TOUR_INTRST_VALUE      5850 non-null   int32
 11  GN_US_TOUR_INTRST_VALUE   5850 non-null   int32
 12  GB_DG_TOUR_INTRST_VALUE   5850 non-null   int32
 13  JN_GJ_TOUR_INTRST_VALUE   5850 non-null   int32
 14  JNBK_TOUR_INTRST_VALUE    5850 non-null   int32
 15  GW_TOUR_INTRST_VALUE      5850 non-null   int32
 16  JJ_TOUR_INTRST_VALUE      5850 non-null   int32
dtypes: int32(16), object(1)
memory usage: 586.1+ KB

In [13]:
data.to_csv("C:/Users/Kimchiyeon/Desktop/khuda/지역별 선호/output.csv", index=False)

In [ ]:
def